<div class="row mt-4">
    <div class="col-12 text-center mb-5" data-aos="fade-down">
        <h1 class="margenb">Our Work</h1>
    </div>
    
</div>

<div class="row">
    <div class="col-12 col-md-6" data-aos="fade-down">
        <a href="#/proyect/8" class="nav-link">
            <img src="assets/img/trabajo1.png" class="img-fluid">
            <h4 class="mt-3" style="color:black !important">Whopper Dealer</h4>
            <p class="text-secondary"><strong>Burger King</strong></p>
        </a>
    </div>
    <div class="col-12 col-md-6" data-aos="fade-down">
        <a href="#/proyect/14" class="nav-link">
            <img src="assets/img/trabajo2.png" class="img-fluid">
            <h4 class="mt-3" style="color:black !important">Ingenio IT</h4>
            <p class="text-secondary"><strong>Fifco</strong></p>
        </a>
    </div>

</div>

<div class="row">
    <div class="col-12 text-center mb-5 mt-5" >
        <span class="containerText hvr-float">
            <a href="#/trabajos" style="color: black !important;" class="text">VER TODOS</a>
            <br>
            <span class="text-center raya">__________</span>
        </span>
    </div>
</div>




