<app-menu></app-menu>

<section id="sectionPremios" class="container mt-5 pt-5">
  <app-scroll-top></app-scroll-top>
  <div class="row mt-5 pt-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- <p class="tittlePremios">Más de 120 premios nacionales e internacionales</p> -->
      <h3>Más de 120 premios nacionales e internacionales</h3>
    </div>
  </div>
  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Effie Awards Costa Rica</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio1.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio1.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio1.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
  </div>

  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
  </div>

  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio3.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio4.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio4.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio4.png" alt="" data-toggle="tooltip" title="Effie Awardss Costa Rica">
    </div>
  </div>


  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Effie Awards Latam</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="" data-toggle="tooltip" title="Effie Awardss Latam">
    </div>
    <!-- <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio2.png" alt="">
    </div> -->

  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Festival Volcán Costa Rica</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio5.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio6.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio7.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio8.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio8.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio8.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio8.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio8.png" alt="" data-toggle="tooltip" title="Festival Volcán Costa Rica">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Festival Antigua Guatemala</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio9.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio10.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio10.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio10.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio11.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio11.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio11.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio11.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-2 pb-2">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio11.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio12.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio12.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio12.png" alt="" data-toggle="tooltip" title="Festival Antigua Guatemala">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Festival Caribe Panamá</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio13.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio14.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio14.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio15.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio15.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio15.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio16.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio16.png" alt="" data-toggle="tooltip" title="Festival Caribe Panamá">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">WINA Festival</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio17.png" alt="" data-toggle="tooltip" title="WINA Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio18.png" alt="" data-toggle="tooltip" title="WINA Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio19.png" alt="" data-toggle="tooltip" title="WINA Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio19.png" alt="" data-toggle="tooltip" title="WINA Festival">
    </div>

    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremioPanama" src="../../../../assets/img/premio20.png" alt="" data-toggle="tooltip" title="WINA Festival">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Wave Festival</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio21.png" alt="" data-toggle="tooltip" title="Wave Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio21.png" alt="" data-toggle="tooltip" title="Wave Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio21.png" alt="" data-toggle="tooltip" title="Wave Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/premio21.png" alt="" data-toggle="tooltip" title="Wave Festival">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">The Webby Awards</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/webby.png" alt="" data-toggle="tooltip" title="The Webby Awards">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Cannes Lions</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/lions.png" alt="" data-toggle="tooltip" title="Cannes Lions">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Ojo de Iberoamérica</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/ibero.png" alt="" data-toggle="tooltip" title="Ojo de Iberoamérica">
    </div>
  </div>

  <div class="row mt-5 pt-5 pb-5">
    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <p class="premios">Ad Stars Festival</p>
    </div>

  </div>
  <div class="row d-flex justify-content-center pt-2 mb-5 pb-5">
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/adStar1.png" alt="" data-toggle="tooltip" title="Ad Stars Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/adStar2.png" alt="" data-toggle="tooltip" title="Ad Stars Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/adStar2.png" alt="" data-toggle="tooltip" title="Ad Stars Festival">
    </div>
    <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1 pb-2">
      <img class="imgPremio" src="../../../../assets/img/adStar2.png" alt="" data-toggle="tooltip" title="Ad Stars Festival">
    </div>
  </div>
</section>

<app-footer></app-footer>