/* ::placeholder{
    color: #ffffff;
    padding-right: 20px !important;
}  */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .7rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff !important;
    background-color: transparent !important;
    background-clip: padding-box;
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control2{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .7rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff !important;
    background-color: transparent !important;
    background-clip: padding-box;
    border-bottom: none !important; 
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-custom {
    color: #fff;
    background-color: #2788BF;
    border-color: #2788BF;
    padding: 10px 15px;
    font-size: .8rem;
}
.label{
    color: #9c9d9d;
    font-size: .8rem;
    padding-left: 10px;
}