<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>
                Desarrollo de experiencias web que incluyen además de un diseño atractivo, la arquitectura, usabilidad, experiencia del usuario y tecnologías que su marca merece proyectar.
            </p>
            <ul>
                <li> Creación sitios web</li>
                <li> Responsive web</li>
                <li> Apps</li>
                <li> Optimización páginas web</li>
                <li> SEO / SEM</li>
                <li> E-commerce</li>
                <li> Landing page</li>
                <li> User experience / user interfase</li>
                <li> Inbound marketing</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>