<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>
                Creemos que una marca con identidad fuerte y estratégicamente definida y posicionada, cuenta con factores claves para el éxito y diferenciación de otras marcas del mercado. Nos involucramos siempre con la marca, sus valores, filosofía e identidad, para crear estrategias innovadoras que conecten objetivos con las expectativas de sus clientes.
            </p>
            <ul>
                <li>Creación identidad de marca</li>
                <li>Desarrollo nombres y logotipos</li>
                <li>Libro de marca</li>
                <li>Packaging</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>