<app-menu></app-menu>
<div class="container" style="margin-top:7.500em;">
    <app-scroll-top></app-scroll-top>
    <h1 class="margenb text-center">Servicios</h1>
        <div class="swiper-container ocultarMovil">
            <div class="swiper-wrapper">
                    <div class="swiper-slide">
                            <a class="nav-item nav-link active" routerLink="planning" routerLinkActive="planning color">
                                <img src="assets/img/servnegro/planningNegro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="planning" routerLinkActive="color">
                                <p class="bold text-center">
                                    PLANNING
                                </p>
                            </a>                
                        
                    </div>
                    <div class="swiper-slide">
               
                            <a class="nav-item nav-link active" routerLink="branding" routerLinkActive="branding color">
                                <img src="assets/img/servnegro/brandingNegro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="branding" routerLinkActive="color">
                                <p class="bold text-center">
                                    BRANDING
                                </p>
                            </a> 
                      
                    </div>
                    <div class="swiper-slide">

                           <a class="nav-item nav-link active" routerLink="estrategia" routerLinkActive="estrategia color">
                                <img src="assets/img/servnegro/estrategia360Negro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="estrategia" routerLinkActive="color">
                                <p class="bold text-center">
                                    ESTRATEGIA 360
                                </p>
                            </a>
                        
                    </div>
                    <div class="swiper-slide">

                       
                            <a class="nav-item nav-link active" routerLink="digital" routerLinkActive="digital color">
                                <img src="assets/img/servnegro/estrategiaDigitalNegro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="digital" routerLinkActive="color">
                                <p class="bold text-center">
                                    ESTRATEGIA DIGITAL
                                </p>
                            </a>
                        
                    </div>
                    <div class="swiper-slide">

                       
                            <a class="nav-item nav-link active" routerLink="web" routerLinkActive="web color">
                                <img src="assets/img/servnegro/webNegro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="web" routerLinkActive="color">
            
                                <p class="bold text-center">
                                    DESARROLLO WEB
                                </p>
                            </a>                    
                        
                    </div>
                    <div class="swiper-slide">

                       
                            <a class="nav-item nav-link active" routerLink="paid" routerLinkActive="paid color">
                                <img src="assets/img/servnegro/paidMediaNegro.png" class="img-fluid">
                            </a>
                            <a class="nav-item nav-link active" routerLink="paid" routerLinkActive="color">
            
                                <p class="bold text-center">
                                    PAID MEDIA
                                </p>
                            </a>
                        
                    </div>
                
            </div>
        </div>

        <nav class="nav nav-justified ocultar">
            <div class="row">
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="planning" routerLinkActive="planning color">
                        <img src="assets/img/servnegro/planningNegro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="planning" routerLinkActive="color">
                        <p class="bold text-center">
                            PLANNING
                        </p>
                    </a>                
                </div>
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="branding" routerLinkActive="branding color">
                        <img src="assets/img/servnegro/brandingNegro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="branding" routerLinkActive="color">
                        <p class="bold text-center">
                            BRANDING
                        </p>
                    </a> 
                </div>
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="estrategia" routerLinkActive="estrategia color">
                        <img src="assets/img/servnegro/estrategia360Negro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="estrategia" routerLinkActive="color">
                        <p class="bold text-center">
                            ESTRATEGIA 360
                        </p>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="digital" routerLinkActive="digital color">
                        <img src="assets/img/servnegro/estrategiaDigitalNegro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="digital" routerLinkActive="color">
                        <p class="bold text-center">
                            ESTRATEGIA DIGITAL
                        </p>
                    </a>
                </div>
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="web" routerLinkActive="web color">
                        <img src="assets/img/servnegro/webNegro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="web" routerLinkActive="color">
    
                        <p class="bold text-center">
                            DESARROLLO WEB
                        </p>
                    </a>                    
                </div>
                <div class="col-6 col-md-2 col-lg-2 text-center mb-5">
                    <a class="nav-item nav-link active" routerLink="paid" routerLinkActive="paid color">
                        <img src="assets/img/servnegro/paidMediaNegro.png" class="img-fluid">
                    </a>
                    <a class="nav-item nav-link active" routerLink="paid" routerLinkActive="color">
    
                        <p class="bold text-center">
                            PAID MEDIA
                        </p>
                    </a>
                </div>
            </div>
        </nav>
  
    <router-outlet></router-outlet>

        <div class="row">
            <div class="col-12 text-center mb-5 mt-5" >
                <span class="containerText hvr-float">
                    <a href="#/home" class="text">REGRESAR</a>
                    <br>
                    <span class="text-center raya">__________</span>
                </span>
            </div>
        </div>

    <app-trabajo></app-trabajo>


</div>

<app-footer></app-footer>
