<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>
                Colocación de medios digitales con 100% de transparencia.
            </p>
            <p>Nuestro servicio de compra de medios digitales tiene énfasis en el performance, desarrollamos estrategias de medios enfocadas en el cumplimiento de objetivos tanto comerciales como de campaña. Disponemos de un amplio catálogo de formatos de alto impacto y efectivos en el cumplimiento de objetivos, siempre alineados al benchmark del mercado. 
                Entre las plataformas con las que contamos podemos encontrar Facebook, Instagram, Messenger, WhatsApp, Google Adwords, Youtube, Twitter Ads, LinkedIn, toda la gama de productos presentes en programática, entre otros, siempre con revisiones periodicas para mantenernos a la vanguardia.
                Por medio de una medición constante del progreso de las campañas, nos aseguramos nuestro enfoque en el performance óptimo de cada campaña.
            </p>
            <ul>
                <li> Estrategia de medios</li>
                <li> Implementación de campañas</li>
                <li> Optimización de campañas</li>
                <li> Performance de campañas</li>
                <li> Tracking de conversiones</li>
                <li> Análisis de mercados</li>
                <li> Reportería</li>
                <li> SEM</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>