<div [ngClass]="getContainer()" class="footerSection pt-5 mt-5">
  <div class="row pt-5">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 footermenu">
      <ul class="menumobileFooter">
        <li><a class="footerlink" href="#/premios">Premios</a></li>
        <li><a class="footerlink" href="#/carreras">Carreras</a></li>
        <!-- <li><a class="footerlink" href="#/servicios">Servicios</a></li> -->
        <li><a class="footerlink" href="#/blogs">Blog</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 footerinfo">
      <div>
        <h5>Info</h5>
        <p id="pais">Costa Rica</p>
        <p class="noMarginb">San José, Los Yoses, Calle 37 entre avenidas 10 y 12. </p>
        <p>info@interaction.cr</p>

        <p id="pais">Honduras</p>
        <p class="noMarginb">Lomas del Guijarro Sur. Edificio Torre Alianza 1. Piso 9. Tegucigalpa, Francisco Morazán.</p>
        <p>info@interaction.cr</p>

        <p id="pais">El Salvador</p>
        <p class="noMarginb">Final Calle Los Granados #5 Colonia Las Mercedes, San Salvador.</p>
        <p>info@interaction.cr</p>
      </div>
      <div class="row">
        <div class="w-10">
          <a href="https://www.facebook.com/interactioncr" target="_blank"><img class="w-100" src="../../../../assets/img/facebook.png" alt=""></a>
        </div>
        <div class="w-10">
          <a href="https://www.instagram.com/interactioncr/?igshid=8cfptdbfyo9o" target="_blank"><img class="w-100" src="../../../../assets/img/instagram.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footerform pt-m-5">
      <div>
        <h5>Hablemos</h5>
        <app-contacto></app-contacto>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pl-5 footercopyright">
        <p>2020© Interaction Agency. All rights reserved</p>
    </div>
  </div>
</div>
