<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>
                Más allá de mensajes atractivos, buscamos crear experiencias, que inspiren a su audiencia a determinadas acciones, y que esa inspiración perdure en el tiempo. La creatividad  y efectividad son parte esencial de lo que somos.
            </p>
            <ul>
                <li> Campañas digitales</li>
                <li> Reportería</li>
                <li> Optimización campañas</li>
                <li> Estrategias influencers y embajadores de marca</li>
                <li> Herramientas digitales</li>
                <li> Administración redes sociales</li>
                <li> Paid Media</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>