<div class="loading" *ngIf="loading">
  <!-- <img src="../../../../assets/img/loader.gif" alt=""> -->
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Trabajos</h5>
                        <a type="button" class="btn btn-secondary" routerLink="/formTrabajo">Agregar</a>    
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <div class="table responsive p-4 m-4">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">opciones</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Imagen Encabezado</th>
                                    <th scope="col">Imagen Principal</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Video</th>
                                    <th scope="col" colspan="2">Parrafo</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let job of trabajos; let i = index ">
                                    <th></th>
                                    <th>{{i+1}}</th>
                                    <td>{{job.nombre}}</td>
                                    <td>{{job.fecha}}</td>
                                    <td>{{job.empresa}}</td>
                                    <td>
                                      <a href="{{job.imgEncabezado}}" target="_blank">Imagen</a>
                                     </td>
                                    <td>
                                      <a href="{{job.img}}" target="_blank">Imagen</a>
                                    </td>
                                    <td>
                                      <a href="{{job.imgEmpresa}}" target="_blank">Imagen</a>
                                    </td>
                                    <td>
                                      <a href="{{job.video}}" target="_blank">Video</a>
                                    </td>      
                                    <td>
                                      {{job.parrafo1}}
                                    </td>
                                    <td>{{job.parrafo2}}</td>                              
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
