<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>
                Nuestro enfoque versátil se adapta a las distintas necesidades y objetivos de los clientes. No importa si es una valla, un post o una activación BTL creamos experiencias personalizadas y creativas para crear un fuerte impacto en sus públicos meta.
            </p>
            <ul>
                <li>Colocación de medios</li>
                <li> Desarollo de conceptos</li>
                <li> Desarrollo de campañas</li>
                <li> Activaciones BTL</li>
                <li> Producción de eventos</li>
                <li> Producción materiales</li>
                <li> Branding</li>
                <li> Posicionamiento de marca</li>
                <li> Medición de KPI's</li>
                <li> Lanzamiento de marca</li>
                <li> Relaciones públicas</li>
                <li> Filmación videos, post producción, toma de fotografías</li>
                <li> Eventos</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>