<div class="container">
    <div class="row" data-aos="fade-down">
        <div class="col-12 col-md-8">
            <p>Con una visión integral, creamos estrategias digitales enfocadas en las necesidades de los usuarios, la marca y sus objetivos. Asumimos un rol de empatía para crear estrategias que aporten valor a los consumidores a través de experiencias mediante 
                la identificación de problemas, oportunidades, definiendo audiencias objetivo e indicadores clave.
            </p>
            <ul>
                <li>Investigación de mercado</li>
                <li>Perfilación de targets</li>
                <li>Benchmark y análisis de la competencia</li>
                <li>Social Listening</li>
                <li>Creación de estrategias y pilares de marca</li>
                <li>Customer Journey</li>
            </ul>  
        </div>
        <div class="col-12 col-md-4">
            <app-contacto></app-contacto>
        </div>
    </div>
</div>