<app-menu></app-menu>

<!-- movil -->
<div class="d-block d-sm-none">
  <app-scroll-top></app-scroll-top>
  <div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
      <div id="slide1" class="swiper-slide">
        <div>
          <h2 class="maintexto">4 años en el top 3</h2>
          <h2 class="maintexto3">de agencias de publicidad independientes <br> de América Latina</h2>
          <!-- <a class="mainlink" href="">VER TRABAJO</a> -->
          <!-- <br>
          <span class="bborder">__________</span> -->
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <!-- <div id="slide2" class="swiper-slide">
        <div>
          <h2 class="maintexto">Erick Apuy</h2>
          <h2 class="maintexto3">CEO Interaction / Global EffieAwards <br> Jury - North America</h2>
           <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div> -->
      <div id="slide22" class="swiper-slide">
        <div>
          <h2 class="maintexto">10 años</h2>
          <h2 class="maintexto3">de existir, ganando reconocimiento <br> global con campañas efectivas</h2>
          <!-- <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span> -->
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <!-- <div id="slide10" class="swiper-slide">
        <div>
          <h2 class="maintexto">The Rainbook</h2>
          <h2 class="maintexto2">FDI</h2>
          <a class="mainlink" href="#/proyect/5">VER TRABAJO</a>
          <br>
          <a href="#/proyect/5"><span class="bborder">_______</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <div id="slide11" class="swiper-slide">
        <div>
          <h2 class="maintexto">Herencia Incalculable</h2>
          <h2 class="maintexto2">Casio Store</h2>
          <a class="mainlink" href="#/proyect/6">VER TRABAJO</a>
          <br>
          <a href="#/proyect/6"><span class="bborder">_______</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <div id="slide3" class="swiper-slide">
        <div>
          <h2 class="maintexto">Vote Your Way</h2>
          <h2 class="maintexto2">Burger King</h2>
          <a class="mainlink" href="#/proyect/7">VER TRABAJO</a>
          <br>
          <a href="#/proyect/7"><span class="bborder">_______</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div> -->
      <!-- <div id="slide4" class="swiper-slide">
        <div>
          <h2 class="maintexto">Whopper Dealer</h2>
          <h2 class="maintexto2">Burger King</h2>
          <a class="mainlink" href="#/proyect/8">VER TRABAJO</a>
          <br>
          <a href="#/proyect/8"><span class="bborder">_______</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div> -->
    </div>
    <div class="swiper-pagination swiper-pagination-h"></div>
  </div>
  <div id="slide10" class="swiper-slide">
    <div>
      <h2 class="maintexto">The Rainbook</h2>
      <h2 class="maintexto2">FDI</h2>
      <a class="mainlink" href="#/proyect/5">VER TRABAJO</a>
      <br>
      <a href="#/proyect/5"><span class="bborder">_______</span></a>
      <!-- <br>
      <img class="iconoDown" src="../../../assets/img/f.png" alt=""> -->
    </div>
  </div>
  <div id="slide11" class="swiper-slide">
    <div>
      <h2 class="maintexto">Herencia Incalculable</h2>
      <h2 class="maintexto2">Casio Store</h2>
      <a class="mainlink" href="#/proyect/6">VER TRABAJO</a>
      <br>
      <a href="#/proyect/6"><span class="bborder">_______</span></a>
      <!-- <br>
      <img class="iconoDown" src="../../../assets/img/f.png" alt=""> -->
    </div>
  </div>
  <div id="slide4" class="swiper-slide">
    <div>
      <h2 class="maintexto">Whopper Dealer</h2>
      <h2 class="maintexto2">Burger King</h2>
      <a class="mainlink" href="#/proyect/8">VER TRABAJO</a>
      <br>
      <a href="#/proyect/8"><span class="bborder">_______</span></a>
      <br>
      <img class="iconoDown" src="../../../assets/img/f.png" alt="">
    </div>
  </div>
      <div id="slide5" class="swiper-slide">
        <div class="container container2">
          <div class="row">
            <div id="slide5_1" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento</h2>
                <h2 class="maintextoGrid2">EMMA</h2>
                <a class="mainlinkGrid" href="#/proyect/9">VER TRABAJO</a>
                <br>
                <a href="#/proyect/9"><span class="bborder">_______</span></a>
              </div>
            </div>
            <div id="slide5_2" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento Spacio</h2>
                <h2 class="maintextoGrid2">EPA</h2>
                <a class="mainlinkGrid" href="#/proyect/10">VER TRABAJO</a>
                <br>
                <a href="#/proyect/10"><span class="bborder">_______</span></a>
              </div>
            </div>
            <div id="slide5_3" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Si huele a limpio</h2>
                <h2 class="maintextoGrid2">Tronex</h2>
                <a class="mainlinkGrid" href="#/proyect/11">VER TRABAJO</a>
                <br>
                <a href="#/proyect/11"><span class="bborder">_______</span></a>
              </div>
            </div>
            <div id="slide5_4" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Ingenio IT</h2>
                <h2 class="maintextoGrid2">Fifco</h2>
                <a class="mainlinkGrid" href="#/proyect/14">VER TRABAJO</a>
                <br>
                <a href="#/proyect/14"><span class="bborder">_______</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="slide6" class="swiper-slide">
        <div class="container">
          <div class="row d-flex justify-content-center mb-4">
              <h1 class="tittleServicios">Servicios</h1>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/planning" class="servicios">
                <img src="../../../../../assets/img/planning.png" alt="">
                <h3 class="tittleService">Planning</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/branding" class="servicios">
                <img src="../../../../../assets/img/branding.png" alt="">
                <h3 class="tittleService">Branding</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/estrategia" class="servicios">
                <img src="../../../../../assets/img/estrategia.png" alt="">
                <h3 class="tittleService">Estrategia 360</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/digital" class="servicios">
                <img src="../../../../../assets/img/digital.png" alt="">
                <h3 class="tittleService">Estrategia digital</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/web" class="servicios">
                <img src="../../../../../assets/img/web.png" alt="">
                <h3 class="tittleService">Desarrollo Web</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/paid" class="servicios">
                <img src="../../../../../assets/img/paid.png" alt="">
                <h3 class="tittleService">Paid media</h3>
              </a>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-4">
              <a class="verServicios" href="#/servicios">Ver todos</a>
              <br>
              <span class="bborder">_______</span>
            </div>
          </div>
        </div>
      </div>
      <div id="slide7" class="d-block d-sm-none">
        <div class="container footerSection pt-5">
          <div class="row pt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footermenu">
              <ul class="menumobileFooter">
                <li><a class="footerlink" href="#/premios">Premios</a></li>
                <li><a class="footerlink" href="#/carreras">Carreras</a></li>
                <!-- <li><a class="footerlink" href="/servicios">Servicios</a></li> -->
                <li><a class="footerlink" href="#/blogs">Blog</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footerinfo">
              <div>
                <h5>Info</h5>
                <p id="pais">Costa Rica</p>
                <p>San José, Los Yoses, Calle 37 entre avenidas 10 y 12. </p>
                <p>info@interaction.cr</p>
        
                <p id="pais">Honduras</p>
                <p>Lomas del Guijarro Sur. Edificio Torre Alianza 1. Piso 9. Tegucigalpa, Francisco Morazán.</p>
                <p>info@interaction.cr</p>
        
                <p id="pais">El Salvador</p>
                <p>Final Calle Los Granados #5 Colonia Las Mercedes, San Salvador.</p>
                <p>info@interaction.cr</p>
              </div>
              <div class="row">
                <div class="w-10">
                  <a href="https://www.facebook.com/interactioncr" target="_blank"><img class="w-100" src="../../../../assets/img/facebook.png" alt=""></a>
                </div>
                <div class="w-10">
                  <a href="https://www.instagram.com/interactioncr/?igshid=8cfptdbfyo9o" target="_blank"><img class="w-100" src="../../../../assets/img/instagram.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div id="slide7" class="d-block d-sm-none">
        <div class="container pt-5">
          <div class="row pt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footerform">
              <div>
                <h5>Hablemos</h5>
                <app-contacto></app-contacto>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 footercopyright">
                <p>2020© Interaction Agency. All rights reserved</p>
            </div>
          </div>
        </div>
        
      </div>
 
</div>
<!-- desktop -->
<div class="d-none d-sm-block">
  <!-- <div class="swiper-container">
    <div class="swiper-wrapper">
      <div id="slide1" class="swiper-slide">
        <div>
          <h2 class="maintexto">The Rainbook</h2>
          <h2 class="maintexto2">FDI</h2>
          <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span>
        </div>
      </div>
      <div id="slide2" class="swiper-slide">
        <div>
          <h2 class="maintexto">Herencia Incalculable</h2>
          <h2 class="maintexto2">Casio Store</h2>
          <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span>
        </div>
      </div>
      <div id="slide3" class="swiper-slide">
        <div>
          <h2 class="maintexto">Vote Your Way</h2>
          <h2 class="maintexto2">Burger King</h2>
          <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span>
        </div>
      </div>
      <div id="slide4" class="swiper-slide">
        <div>
          <h2 class="maintexto">Whopper Dealer</h2>
          <h2 class="maintexto2">Burger King</h2>
          <a class="mainlink" href="">VER TRABAJO</a>
          <br>
          <span class="bborder">__________</span>
        </div>
      </div>
      <div id="slide5" class="swiper-slide">
        <div class="container container2">
          <div class="row">
            <div id="slide5_1" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento</h2>
                <h2 class="maintextoGrid2">EMMA</h2>
                <a class="mainlinkGrid" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span>
              </div>
            </div>
            <div id="slide5_2" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento Spacio</h2>
                <h2 class="maintextoGrid2">EPA</h2>
                <a class="mainlinkGrid" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span>
              </div>
            </div>
            <div id="slide5_3" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Si huele a limpio</h2>
                <h2 class="maintextoGrid2">Tronex</h2>
                <a class="mainlinkGrid" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span>
              </div>
            </div>
            <div id="slide5_4" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Ingenio IT</h2>
                <h2 class="maintextoGrid2">Fifco</h2>
                <a class="mainlinkGrid" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="slide6" class="swiper-slide">
        <div class="container">
          <div class="row d-flex justify-content-center mb-4">
              <h1 class="tittleServicios">Servicios</h1>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/planning" class="servicios">
                <img src="../../../../../assets/img/planning.png" alt="">
                <h3 class="tittleService">Planning</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/branding" class="servicios">
                <img src="../../../../../assets/img/branding.png" alt="">
                <h3 class="tittleService">Branding</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/estrategia" class="servicios">
                <img src="../../../../../assets/img/estrategia.png" alt="">
                <h3 class="tittleService">Estrategia 360</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/digital" class="servicios">
                <img src="../../../../../assets/img/digital.png" alt="">
                <h3 class="tittleService">Estrategia digital</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/web" class="servicios">
                <img src="../../../../../assets/img/web.png" alt="">
                <h3 class="tittleService">Desarrollos Web</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="/servicios/paid" class="servicios">
                <img src="../../../../../assets/img/paid.png" alt="">
                <h3 class="tittleService">Paid media</h3>
              </a>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 mt-5">
              <a class="verServicios" href="/servicios">Ver todos</a>
              <br>
              <span class="bborder">_______</span>
            </div>
          </div>
        </div>
      </div>
      <div id="slide7" class="swiper-slide d-none d-sm-block">
        <app-footer></app-footer>
      </div>
      <div id="slide7" class="swiper-slide d-block d-sm-none">
        <div class="container footerSection pt-5">
          <div class="row pt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footermenu">
              <ul class="menumobileFooter">
                <li><a class="footerlink" href="/premios">Premios</a></li>
                <li><a class="footerlink" href="/carreras">Carreras</a></li>
                <li><a class="footerlink" href="/servicios">Servicios</a></li>
                <li><a class="footerlink" href="/blogs">Blog</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footerinfo">
              <div>
                <h5>Info</h5>
                <p id="pais">Costa Rica</p>
                <p>San José, Los Yoses, Calle 37 entre avenidas 10 y 12. </p>
                <p>info@interaction.cr</p>
        
                <p id="pais">Honduras</p>
                <p>Lomas del Guijarro Sur. Edificio Torre Alianza 1. Piso 9. Tegucigalpa, Francisco Morazán.</p>
                <p>info@interaction.cr</p>
        
                <p id="pais">El Salvador</p>
                <p>Final Calle Los Granados #5 Colonia Las Mercedes, San Salvador.</p>
                <p>info@interaction.cr</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div id="slide7" class="swiper-slide d-block d-sm-none">
        <div class="container footerSection pt-5">
          <div class="row pt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 footerform">
              <div>
                <h5>Contactanos</h5>
                <app-contacto></app-contacto>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 footercopyright">
                <p>2020© Interaction Agency. All rights reserved</p>
            </div>
          </div>
        </div>
        
      </div>
  
    </div>
    <div class="swiper-pagination"></div>
  </div> -->

  <!-- Swiper -->
  <div class="swiper-container swiper-container-v">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-container swiper-container-h">
          <div class="swiper-wrapper">
            <div id="slide1" class="swiper-slide">
              <div>
                <h2 class="maintexto">4 años en el top 3</h2>
                <h2 class="maintexto3">de agencias de publicidad independientes <br> de América Latina</h2>
                <!-- <a class="mainlink" href="">VER TRABAJO</a> -->
                <!-- <br>
                <span class="bborder">__________</span> -->
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div>
            <!-- <div id="slide2" class="swiper-slide">
              <div>
                <h2 class="maintexto">Erick Apuy</h2>
                <h2 class="maintexto3">CEO Interaction / Global EffieAwards <br> Jury - North America</h2>
                <a class="mainlink" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span> 
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div> -->
            <div id="slide22" class="swiper-slide">
              <div>
                <h2 class="maintexto">10 años</h2>
                <h2 class="maintexto3">de existir, ganando reconocimiento <br> global con campañas efectivas</h2>
                <!-- <a class="mainlink" href="">VER TRABAJO</a>
                <br>
                <span class="bborder">__________</span> -->
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div>
            <!-- <div id="slide10" class="swiper-slide">
              <div>
                <h2 class="maintexto">The Rainbook</h2>
                <h2 class="maintexto2">FDI</h2>
                <a class="mainlink" href="#/proyect/5">VER TRABAJO</a>
                <br>
                <a href="#/proyect/5"><span class="bborder">____</span></a>
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div>
            <div id="slide11" class="swiper-slide">
              <div>
                <h2 class="maintexto">Herencia Incalculable</h2>
                <h2 class="maintexto2">Casio Store</h2>
                <a class="mainlink" href="#/proyect/6">VER TRABAJO</a>
                <br>
                <a href="#/proyect/6"><span class="bborder">____</span></a>
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div>
            <div id="slide3" class="swiper-slide">
              <div>
                <h2 class="maintexto">Vote Your Way</h2>
                <h2 class="maintexto2">Burger King</h2>
                <a class="mainlink" href="#/proyect/7">VER TRABAJO</a>
                <br>
                <a href="#/proyect/7"><span class="bborder">____</span></a>
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div> -->
            <!-- <div id="slide4" class="swiper-slide">
              <div>
                <h2 class="maintexto">Whopper Dealer</h2>
                <h2 class="maintexto2">Burger King</h2>
                <a class="mainlink" href="#/proyect/8">VER TRABAJO</a>
                <br>
                <a href="#/proyect/8"><span class="bborder">____</span></a>
                <br>
                <img class="iconoDown" src="../../../assets/img/f.png" alt="">
              </div>
            </div> -->
          </div>
          <div class="swiper-pagination swiper-pagination-h"></div>
        </div>
      </div>
      <div id="slide10" class="swiper-slide">
        <div>
          <h2 class="maintexto">The Rainbook</h2>
          <h2 class="maintexto2">FDI</h2>
          <a class="mainlink" href="#/proyect/5">VER TRABAJO</a>
          <br>
          <a href="#/proyect/5"><span class="bborder">____</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <div id="slide11" class="swiper-slide">
        <div>
          <h2 class="maintexto">Herencia Incalculable</h2>
          <h2 class="maintexto2">Casio Store</h2>
          <a class="mainlink" href="#/proyect/6">VER TRABAJO</a>
          <br>
          <a href="#/proyect/6"><span class="bborder">____</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <div id="slide4" class="swiper-slide">
        <div>
          <h2 class="maintexto">Whopper Dealer</h2>
          <h2 class="maintexto2">Burger King</h2>
          <a class="mainlink" href="#/proyect/8">VER TRABAJO</a>
          <br>
          <a href="#/proyect/8"><span class="bborder">____</span></a>
          <br>
          <img class="iconoDown" src="../../../assets/img/f.png" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container container2">
          <div class="row">
            <div id="slide5_1" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento</h2>
                <h2 class="maintextoGrid2">EMMA</h2>
                <a class="mainlinkGrid" href="#/proyect/9">VER TRABAJO</a>
                <br>
                <a href="#/proyect/9"><span class="bborder">___</span></a>
              </div>
            </div>
            <div id="slide5_2" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Lanzamiento Spacio</h2>
                <h2 class="maintextoGrid2">EPA</h2>
                <a class="mainlinkGrid" href="#/proyect/10">VER TRABAJO</a>
                <br>
                <a href="#/proyect/10"><span class="bborder">___</span></a>
              </div>
            </div>
            <div id="slide5_3" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Si huele a limpio</h2>
                <h2 class="maintextoGrid2">Tronex</h2>
                <a class="mainlinkGrid" href="#/proyect/11">VER TRABAJO</a>
                <br>
                <a href="#/proyect/11"><span class="bborder">___</span></a>
              </div>
            </div>
            <div id="slide5_4" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="">
                <h2 class="maintextoGrid">Ingenio IT</h2>
                <h2 class="maintextoGrid2">Fifco</h2>
                <a class="mainlinkGrid" href="#/proyect/14">VER TRABAJO</a>
                <br>
                <a href="#/proyect/14"><span class="bborder">___</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="slide6" class="swiper-slide">
        <div class="container">
          <div class="row d-flex justify-content-center mb-4">
              <h1 class="tittleServicios">Servicios</h1>
          </div>
          <div class="row serviciosGrid">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/planning" class="servicios">
                <img src="../../../../../assets/img/planning.png" alt="">
                <h3 class="tittleService">Planning</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/branding" class="servicios">
                <img src="../../../../../assets/img/branding.png" alt="">
                <h3 class="tittleService">Branding</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/estrategia" class="servicios">
                <img src="../../../../../assets/img/estrategia.png" alt="">
                <h3 class="tittleService">Estrategia 360</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/digital" class="servicios">
                <img src="../../../../../assets/img/digital.png" alt="">
                <h3 class="tittleService">Estrategia digital</h3>
              </a>
            </div>
  
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/web" class="servicios">
                <img src="../../../../../assets/img/web.png" alt="">
                <h3 class="tittleService">Desarrollo Web</h3>
              </a>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
              <a href="#/servicios/paid" class="servicios">
                <img src="../../../../../assets/img/paid.png" alt="">
                <h3 class="tittleService">Paid media</h3>
              </a>
            </div>
  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 mt-5">
              <a class="verServicios" href="#/servicios">Ver todos</a>
              <br>
              <span class="bborder">___</span>
            </div>
          </div>
        </div>
      </div>
      <div id="slide7" class="swiper-slide">
        <app-footer></app-footer>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-v"></div>
  </div>
</div>